body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #4f4f4f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home_wrapper {
  text-align: center;
  background-color: #1e1e1e;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header_wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 0.4em;
}

.level_container {
  margin: 0.5em 0;
}

.level_container select {
  padding: 1em 0.8em;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.level_container select:focus {
  outline: none;
}

.game_container {
  margin-top: 1em;
}