.game_wrapper {
    text-align: center;
  }

  .game_container {
    margin-top: 1em;
  }

  .game_status {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .game_status.won {
    color: #4caf50;
  }

  .game_status.lost {
    color: #f44336;
  }

  .game_status button {
    padding: 0.5em 1em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin: 1em 0;
  }

  .game_status button:hover {
    background-color: #444;
  }

  .go_back_button {
    padding: 0.5em 1em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    margin: 1em 0;
  }

  .go_back_button:hover {
    background-color: #666;
  }